flows.json
[
    {
        "id": "476a12a01ee6b415",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fb7b6ef3825348ee",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f44abf5a8dec2d0a",
        "type": "tab",
        "label": "File Explore",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "26bb56a265ba606e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "hungviet.hopto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8290a3e457ebf20f",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "48418b79.0f5834",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dfb4a60f.d788f8",
        "type": "ui_group",
        "name": "Data Export",
        "tab": "48418b79.0f5834",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e8d3a60cfc58017f",
        "type": "ui_group",
        "name": "Log",
        "tab": "48418b79.0f5834",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b63d1f91.68095",
        "type": "ui_tab",
        "name": "File Manager",
        "icon": "dashboard",
        "order": 15,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "387c58da45e62fbf",
        "type": "ui_group",
        "name": "File Manager",
        "tab": "b63d1f91.68095",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3848a3cb01e4bf1e",
        "type": "inject",
        "z": "476a12a01ee6b415",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "56a3e9e974febbdf",
        "type": "function",
        "z": "476a12a01ee6b415",
        "name": "Set base path",
        "func": "//restrict to c:\\temp\\\nvar basePath = \"c:\\\\temp\\\\\";\nvar filename = msg.req.params.fn;\n\n\nif(filename.includes(\"..\\\\\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} else if(filename.includes(\"../\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} \n//TODO: add more checks\n\nmsg.filename = basePath + filename;\nreturn [msg, null];//fire output 1\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 340,
        "wires": [
            [
                "2f8878202665e5a4"
            ],
            [
                "67353db9853177d0"
            ]
        ]
    },
    {
        "id": "67353db9853177d0",
        "type": "http response",
        "z": "476a12a01ee6b415",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 380,
        "wires": []
    },
    {
        "id": "2f8878202665e5a4",
        "type": "file in",
        "z": "476a12a01ee6b415",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 610,
        "y": 320,
        "wires": [
            [
                "67353db9853177d0"
            ]
        ]
    },
    {
        "id": "9f7746f78558893c",
        "type": "catch",
        "z": "476a12a01ee6b415",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 240,
        "y": 420,
        "wires": [
            [
                "639e3653f08e1f83",
                "862e41c4ac281403"
            ]
        ]
    },
    {
        "id": "639e3653f08e1f83",
        "type": "function",
        "z": "476a12a01ee6b415",
        "name": "Set 404",
        "func": "msg.payload = msg.error;\nmsg.statusCode = 404;//resource not found\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 420,
        "wires": [
            [
                "67353db9853177d0"
            ]
        ]
    },
    {
        "id": "862e41c4ac281403",
        "type": "debug",
        "z": "476a12a01ee6b415",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 460,
        "wires": []
    },
    {
        "id": "08a38119955fc034",
        "type": "comment",
        "z": "476a12a01ee6b415",
        "name": "Create http endpoint <nodered>/files/xxx  where xxx is the file name to download",
        "info": "",
        "x": 460,
        "y": 280,
        "wires": []
    },
    {
        "id": "ba89c78f1257c53b",
        "type": "http in",
        "z": "476a12a01ee6b415",
        "name": "",
        "url": "/files/:fn",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "56a3e9e974febbdf"
            ]
        ]
    },
    {
        "id": "46072705fd37be6e",
        "type": "mqtt in",
        "z": "476a12a01ee6b415",
        "name": "",
        "topic": "esp32/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "26bb56a265ba606e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 100,
        "wires": [
            [
                "ce8e738b23266572"
            ]
        ]
    },
    {
        "id": "ce8e738b23266572",
        "type": "debug",
        "z": "476a12a01ee6b415",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 120,
        "wires": []
    },
    {
        "id": "f14ae65493aa63c0",
        "type": "ui_template",
        "z": "476a12a01ee6b415",
        "d": true,
        "group": "dfb4a60f.d788f8",
        "name": "ui_temlplate - present download links on dashboard",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div >\n    <a href=\"/files/log.log\">download log.log</a>\n    <a href=\"/files/log2.log\">download log2.log</a>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 610,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "0be797080f325e2d",
        "type": "ui_template",
        "z": "476a12a01ee6b415",
        "d": true,
        "group": "e8d3a60cfc58017f",
        "name": "",
        "order": 1,
        "width": "12",
        "height": "13",
        "format": "<!DOCTYPE HTML>\n<html>\n\n<head>\n    <style>\n        .list-box {\n            border: 1px solid #ccc;\n            border-radius: 5px;\n            background-color: #f2f2f2;\n            padding: 10px;\n            width: 300px;\n        }\n\n        .list-box li {\n            border-bottom: 1px solid #752525;\n            padding: 3px 0px 3px 10px;\n            font-size: 18px;\n            list-style: none;\n        }\n\n        .list-box li.highlight {\n            background-color: #5ad1f294;\n        }\n\n        .submit-box {\n            margin-top: 10px;\n            text-align: center;\n            width: 300px;\n        }\n\n        .submit-box input[type=\"submit\"] {\n            height: 40px;\n            width: 100px;\n            background-color: #3c9b41;\n            color: #fff;\n            border: none;\n            border-radius: 4px;\n            cursor: pointer;\n            font-size: 20px;\n        }\n\n        .submit-box input[type=\"submit\"]:hover {\n            background-color: #86d188;\n        }\n\n        .config-box {\n            margin-top: 10px;\n            border: 1px solid #ccc;\n            border-radius: 5px;\n            background-color: #f2f2f2;\n            padding: 10px;\n            width: 300px;\n        }\n\n        .data {\n            height: 30px;\n            box-sizing: border-box;\n            margin: 7px;\n        }\n\n        form label {\n            display: inline-block;\n            width: 90px;\n            height: 100%;\n        }\n\n        form input {\n            border: 1px solid #ccc;\n            border-radius: 4px;\n            width: 190px;\n            height: 100%;\n            box-sizing: border-box;\n            padding-left: 10px;\n            font-size: 15px;\n        }\n\n        p {\n            text-align: center;\n            font-size: 20px;\n            margin: 0;\n            font-weight: bold;\n            width: 300px;\n        }\n\n        ol {\n            box-sizing: border-box;\n            padding: 0px 10px 0px 0px;\n        }\n\n        body {\n            display: grid;\n            place-items: center;\n        }\n    </style>\n    <script>\n        function copyToSSID(li) {\n            var ssidInput = document.getElementById('ssid');\n            ssidInput.value = li.innerHTML;\n            var listItems = document.querySelectorAll('.list-box li');\n            listItems.forEach(function(item) {\n                item.classList.remove('highlight');\n            });\n            li.classList.add('highlight');\n        }\n    </script>\n</head>\n\n<body>\n    <p style=\"margin: 10px;\">Welcome to Home Automation System Configuration</p>\n    <div class=\"list-box\">\n        <p>Sellect network for ESP32</p>\n        <ol>\n            <li onclick=\"copyToSSID(this)\">1602</li>\n            <li onclick=\"copyToSSID(this)\">P1602</li>\n            <li onclick=\"copyToSSID(this)\">1602_5GHz</li>\n            <li onclick=\"copyToSSID(this)\">Le Huong</li>\n            <li onclick=\"copyToSSID(this)\">Le Thi Huong</li>\n        </ol>\n    </div>\n    <form action=\"setting\" method=\"get\">\n        <div class=\"config-box\">\n            <p>WIFI</p>\n            <div class=\"data\">\n                <label>SSID </label>\n                <input id=\"ssid\" name=\"ssid\" length=\"32\">\n            </div>\n            <div class=\"data\">\n                <label>PASSWORD </label>\n                <input id=\"password\" name=\"password\" length=\"32\">\n            </div>\n        </div>\n        <div class=\"config-box\">\n            <p>MQTT</p>\n            <div class=\"data\">\n                <label>ADDRESS</label>\n                <input name=\"mqtt_address\" length=\"32\">\n            </div>\n            <div class=\"data\">\n                <label>PASSWORD </label>\n                <input name=\"mqtt_password\" length=\"32\">\n            </div>\n            <div class=\"data\">\n                <label>PORT </label>\n                <input name=\"mqtt_port\" length=\"32\">\n            </div>\n            <div class=\"data\">\n                <label>PUB TOPIC </label>\n                <input name=\"pub_topic\" length=\"32\">\n            </div>\n            <div class=\"data\">\n                <label> SUB TOPIC</label>\n                <input name=\"sub_topic\" length=\"32\">\n            </div>\n        </div>\n\n        <div class=\"submit-box\">\n            <input type=\"submit\" value=\"SUBMIT\">\n        </div>\n    </form>\n</body>\n\n</html>\n\n<!-- alo  -->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 380,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "082695e13ecd5fce",
        "type": "mqtt in",
        "z": "476a12a01ee6b415",
        "name": "",
        "topic": "thinh2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "26bb56a265ba606e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 180,
        "wires": [
            [
                "450a7b350d55ea0f"
            ]
        ]
    },
    {
        "id": "450a7b350d55ea0f",
        "type": "debug",
        "z": "476a12a01ee6b415",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "a21065fe880ac163",
        "type": "inject",
        "z": "476a12a01ee6b415",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 40,
        "wires": [
            [
                "1b2fc70f7738a559"
            ]
        ]
    },
    {
        "id": "1b2fc70f7738a559",
        "type": "mqtt out",
        "z": "476a12a01ee6b415",
        "name": "",
        "topic": "thinh1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "26bb56a265ba606e",
        "x": 450,
        "y": 40,
        "wires": []
    },
    {
        "id": "26545d1f33d95d30",
        "type": "mqtt in",
        "z": "fb7b6ef3825348ee",
        "name": "",
        "topic": "Pub",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "26bb56a265ba606e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "343b4b7827b627ce"
            ]
        ]
    },
    {
        "id": "343b4b7827b627ce",
        "type": "function",
        "z": "fb7b6ef3825348ee",
        "name": "add timestamp",
        "func": "var data = {};\nvar currentTime = new Date();\n\n// Lấy giờ, phút, giây\nvar hours = currentTime.getHours();\nvar minutes = currentTime.getMinutes();\nvar seconds = currentTime.getSeconds();\n\n// Chuyển đổi thành chuỗi dạng HH:mm:ss\nvar timeStamp = hours.toString().padStart(2, '0') + ':' +\n    minutes.toString().padStart(2, '0') + ':' +\n    seconds.toString().padStart(2, '0');\nvar day = currentTime.getDate();\nvar month = currentTime.getMonth() + 1; // Tháng bắt đầu từ 0, cần cộng thêm 1\nvar year = currentTime.getFullYear();\n\n// Chuyển đổi thành chuỗi và định dạng ngày_tháng_năm\nmsg.fileName = '/home/viet/data/' + day.toString().padStart(2, '0') + '_' + month.toString().padStart(2, '0') + '_' + year + '.csv';\n\n\ndata.timeStamp = timeStamp;\ndata.temperature = parseFloat(msg.payload.temperature.toFixed(2));\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 220,
        "wires": [
            [
                "0992b06598018f6d",
                "b13b7d22e0e1e2a1",
                "04c92d5ff6d1b6b6"
            ]
        ]
    },
    {
        "id": "2fccc20909298aa6",
        "type": "ui_gauge",
        "z": "fb7b6ef3825348ee",
        "name": "",
        "group": "dfb4a60f.d788f8",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Temperature",
        "label": "℃",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "gauge",
        "x": 1090,
        "y": 220,
        "wires": []
    },
    {
        "id": "0992b06598018f6d",
        "type": "function",
        "z": "fb7b6ef3825348ee",
        "name": "split sensor data",
        "func": "msg.payload = msg.payload.temperature;\nmsg.topic = \"temperature\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 220,
        "wires": [
            [
                "2fccc20909298aa6",
                "c4d35706b7d26fbf"
            ]
        ]
    },
    {
        "id": "835d95d24e1fd5ec",
        "type": "ui_template",
        "z": "fb7b6ef3825348ee",
        "group": "e8d3a60cfc58017f",
        "name": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<style>\n    body{\n    background-color:#eef5f9 !important;}\n    .gauge tspan{\n    font-size: 15px;\n    color:green !important;}\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1060,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b13b7d22e0e1e2a1",
        "type": "csv",
        "z": "fb7b6ef3825348ee",
        "name": "Create csv row",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "timeStamp, temperature",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 800,
        "y": 140,
        "wires": [
            [
                "cdad48ea5641629e"
            ]
        ]
    },
    {
        "id": "cdad48ea5641629e",
        "type": "file",
        "z": "fb7b6ef3825348ee",
        "name": "",
        "filename": "fileName",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1100,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f3accdb5d3bc7345",
        "type": "function",
        "z": "fb7b6ef3825348ee",
        "name": "Set base path",
        "func": "var basePath = \"/home/viet/data/\";\nvar filename = msg.req.params.fn;\n\n\nif (filename.includes(\"..\\\\\")) {\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} else if (filename.includes(\"../\")) {\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n}\n//TODO: add more checks\n\nmsg.filename = basePath + filename;\nreturn msg\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 340,
        "wires": [
            [
                "7c640db501d9413f"
            ]
        ]
    },
    {
        "id": "a650f7533aafbca3",
        "type": "http response",
        "z": "fb7b6ef3825348ee",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 340,
        "wires": []
    },
    {
        "id": "7c640db501d9413f",
        "type": "file in",
        "z": "fb7b6ef3825348ee",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 760,
        "y": 340,
        "wires": [
            [
                "a650f7533aafbca3"
            ]
        ]
    },
    {
        "id": "33320dc6a340d263",
        "type": "http in",
        "z": "fb7b6ef3825348ee",
        "name": "",
        "url": "/download/:fn",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "f3accdb5d3bc7345"
            ]
        ]
    },
    {
        "id": "8d9d6b2b60a0f241",
        "type": "ui_template",
        "z": "fb7b6ef3825348ee",
        "group": "e8d3a60cfc58017f",
        "name": "Download",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<!DOCTYPE html>\n<html>\n\n<head>\n  <style>\n    .download {\n      font-family: BlinkMacSystemFont, sans-serif;\n      display: flex;\n      flex-direction: column;\n      align-items: center;\n      justify-content: center;\n      margin: 0 30px;\n      max-width: 350px;\n      background-color: #ffffff;\n      border-radius: 8px;\n      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n      padding: 20px;\n    }\n\n    .Picker {\n      display: flex;\n      background-color: #eeeeee;\n      border-radius: 8px;\n      overflow: hidden;\n      margin-bottom: 5px;\n    }\n\n    .datePicker {\n      flex: 1;\n      height: 30px;\n      padding: 0 10px;\n      border: none;\n      font-size: 16px;\n      color: blueviolet;\n    }\n\n    .my-button {\n      margin-top: 5px;\n      padding: 10px 20px;\n      width: 80%;\n      background-color: #0094ce;\n      color: white;\n      border: none;\n      display:flex;\n      align-items: center;\n      justify-content: center;\n      border-radius: 4px;\n      transition: background-color 0.3s ease;\n    }\n\n    .my-button:hover {\n      background-color: #00aaed;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"download\">\n    <div class=\"Picker\">\n      <input type=\"date\" class=\"datePicker\">\n    </div>\n    <button class=\"my-button\" id=\"myButton\">DOWNLOAD</button>\n  </div>\n\n  <script>\n    const Day = document.querySelector('.datePicker');\n        var selectedDate;\n        var fileName;\n        var link;\n\n        Day.addEventListener('change', function() {\n            var dateObject = new Date(Day.value);\n            var day = dateObject.getDate();\n            var month = dateObject.getMonth() + 1;\n            var year = dateObject.getFullYear();\n            selectedDate = day.toString().padStart(2, '0') + '_' + month.toString().padStart(2, '0') + '_' + year;\n            fileName = selectedDate + '.csv';\n            link = '/download/' + fileName;\n        });\n\n        var button = document.getElementById(\"myButton\");\n        button.addEventListener(\"click\", function() {\n            console.log(link);\n            window.location.href =link;\n        });\n  </script>\n</body>\n\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1080,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "96bf7a4a0ab50e36",
        "type": "inject",
        "z": "fb7b6ef3825348ee",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 40,
        "wires": [
            [
                "29bc2b3201bd7d8c"
            ]
        ]
    },
    {
        "id": "29bc2b3201bd7d8c",
        "type": "function",
        "z": "fb7b6ef3825348ee",
        "name": "Create new file",
        "func": "var currentDate = new Date();\nvar data = {};\n\nvar day = currentDate.getDate();\nvar month = currentDate.getMonth() + 1; // Tháng bắt đầu từ 0, cần cộng thêm 1\nvar year = currentDate.getFullYear();\n\n// Chuyển đổi thành chuỗi và định dạng ngày_tháng_năm\nvar fileName = '/home/viet/data/' + day.toString().padStart(2, '0') + '_' + month.toString().padStart(2, '0') + '_' + year + '.csv';\nmsg.fileName = fileName;\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 40,
        "wires": [
            [
                "f8da16a662a9cbbe"
            ]
        ]
    },
    {
        "id": "f8da16a662a9cbbe",
        "type": "csv",
        "z": "fb7b6ef3825348ee",
        "name": "Create csv header",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "timeStamp, temperature",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 890,
        "y": 40,
        "wires": [
            [
                "e5600123bb815e1d"
            ]
        ]
    },
    {
        "id": "e5600123bb815e1d",
        "type": "file",
        "z": "fb7b6ef3825348ee",
        "name": "new file at the start of new day",
        "filename": "fileName",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1190,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "a11269f998162254",
        "type": "ui_form",
        "z": "fb7b6ef3825348ee",
        "name": "",
        "label": "",
        "group": "dfb4a60f.d788f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Time to update",
                "value": "timeToUpdate",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "timeToUpdate": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 250,
        "y": 560,
        "wires": [
            [
                "95ef3d77bf239562"
            ]
        ]
    },
    {
        "id": "95ef3d77bf239562",
        "type": "json",
        "z": "fb7b6ef3825348ee",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 390,
        "y": 560,
        "wires": [
            [
                "25c5fb2df4d3288e"
            ]
        ]
    },
    {
        "id": "25c5fb2df4d3288e",
        "type": "mqtt out",
        "z": "fb7b6ef3825348ee",
        "name": "",
        "topic": "Sub",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "26bb56a265ba606e",
        "x": 570,
        "y": 560,
        "wires": []
    },
    {
        "id": "cd7b94397e87e625",
        "type": "catch",
        "z": "fb7b6ef3825348ee",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 400,
        "y": 420,
        "wires": [
            [
                "84a3ade8101421cb",
                "e814553f4e33c384"
            ]
        ]
    },
    {
        "id": "84a3ade8101421cb",
        "type": "function",
        "z": "fb7b6ef3825348ee",
        "name": "Set 404",
        "func": "msg.payload = msg.error;\nmsg.statusCode = 404;//resource not found\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 420,
        "wires": [
            [
                "a650f7533aafbca3"
            ]
        ]
    },
    {
        "id": "e814553f4e33c384",
        "type": "debug",
        "z": "fb7b6ef3825348ee",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 400,
        "wires": []
    },
    {
        "id": "c4d35706b7d26fbf",
        "type": "ui_chart",
        "z": "fb7b6ef3825348ee",
        "name": "",
        "group": "dfb4a60f.d788f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1110,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "04c92d5ff6d1b6b6",
        "type": "function",
        "z": "fb7b6ef3825348ee",
        "name": "split sensor data 2",
        "func": "msg.payload = msg.payload.temperature + 5;\nmsg.topic = \"temperature2\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 794.5999755859375,
        "y": 263.1999816894531,
        "wires": [
            [
                "c4d35706b7d26fbf"
            ]
        ]
    },
    {
        "id": "c9d918bd737c7df1",
        "type": "inject",
        "z": "f44abf5a8dec2d0a",
        "name": "Init folder",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "homeDataFoler",
        "payload": "/home/viet/data/",
        "payloadType": "str",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "e139221492892edb",
                "337f335a549d5d16"
            ]
        ]
    },
    {
        "id": "e139221492892edb",
        "type": "change",
        "z": "f44abf5a8dec2d0a",
        "name": "set to global value",
        "rules": [
            {
                "t": "set",
                "p": "folder",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "337f335a549d5d16",
        "type": "fs-file-lister",
        "z": "f44abf5a8dec2d0a",
        "name": "File explore",
        "start": "/home/viet/data/",
        "pattern": "*.*",
        "folders": "*",
        "hidden": true,
        "lstype": "files",
        "path": false,
        "single": true,
        "depth": 0,
        "stat": true,
        "showWarnings": true,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "14f055ad78d2e445"
            ]
        ]
    },
    {
        "id": "14f055ad78d2e445",
        "type": "function",
        "z": "f44abf5a8dec2d0a",
        "name": "function 1",
        "func": "// format the data for the dropdown\nmsg.options = [];\nfor (var i = 0; i < msg.payload.length; i++) {\n   msg.options.push(msg.payload[i].name);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 120,
        "wires": [
            [
                "8d034c5e461283fa"
            ]
        ]
    },
    {
        "id": "8d034c5e461283fa",
        "type": "ui_dropdown",
        "z": "f44abf5a8dec2d0a",
        "name": "",
        "label": "File selector",
        "tooltip": "",
        "place": "Select file",
        "group": "387c58da45e62fbf",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 910,
        "y": 120,
        "wires": [
            [
                "69e96dc3beb4697b"
            ]
        ]
    },
    {
        "id": "69e96dc3beb4697b",
        "type": "change",
        "z": "f44abf5a8dec2d0a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "fileSelected",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "e388f6f614da18e9",
        "type": "ui_button",
        "z": "f44abf5a8dec2d0a",
        "name": "",
        "group": "387c58da45e62fbf",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Delete",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "delete",
        "payload": "Do you want to delete this file?",
        "payloadType": "str",
        "topic": "Delete confirmation",
        "topicType": "str",
        "x": 390,
        "y": 400,
        "wires": [
            [
                "b5e569624a36edc1"
            ]
        ]
    },
    {
        "id": "b5e569624a36edc1",
        "type": "ui_toast",
        "z": "f44abf5a8dec2d0a",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "YES",
        "cancel": "NO",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 630,
        "y": 400,
        "wires": [
            [
                "756d880e6bc3481b"
            ]
        ]
    },
    {
        "id": "756d880e6bc3481b",
        "type": "switch",
        "z": "f44abf5a8dec2d0a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "YES",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 850,
        "y": 400,
        "wires": [
            [
                "8576d860bba00ca7"
            ]
        ]
    },
    {
        "id": "e2eef5cb9dfa9abc",
        "type": "file",
        "z": "f44abf5a8dec2d0a",
        "name": "Delete",
        "filename": "payload",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 1290,
        "y": 400,
        "wires": [
            [
                "337f335a549d5d16"
            ]
        ]
    },
    {
        "id": "8576d860bba00ca7",
        "type": "function",
        "z": "f44abf5a8dec2d0a",
        "name": "Get the filename to delete",
        "func": "msg.payload = flow.get(\"folder\") + flow.get(\"fileSelected\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 400,
        "wires": [
            [
                "e2eef5cb9dfa9abc"
            ]
        ]
    }
]